.post-card{
    background-image:linear-gradient(rgba(167, 196, 197, 0.87), white), url(../../assets/dd.jpg) ;
    color: black;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right;
    background-color:white;
    margin: 30px;
    padding:6px;
    contain: content;
    word-wrap: break-word;
    
    
}
.card-content{
    text-align: center;
}
.pic{
    border-radius: 0%;
  width: 80px;
  color: black;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right;


}
.pt{
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}
.icon{
   margin-left: 5px;
}