
.input{
    border:none;
    background-color: whitesmoke;
    font-size: 18px; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 5px;
}
.input:focus{
    outline: none;
    background-color: lightslategrey;
    color: white;
    border:none;
}

.button{
    margin: 1em;
    border: none;
    height: 50px;
    width: 200px;
    background-color: lightskyblue;
    color: white;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.button:focus{
    outline-color: whitesmoke;
}
.form{
    background-color: cadetblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: linear-gradient(rgba(167, 196, 197, 0.87), white);
    border: turquoise;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    border-radius: 25px;
    background-size: contain;
    text-align: center;
    margin: 1em;
}
.welcome{
    
    color: rgb(6, 92, 95);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
    
}
.paw{
    border-radius: 0%;
  width: 80px;
  color: black;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right;
}
.title{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
}